
# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.build/
build/
dist/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.coverage
coverage.xml
htmlcov/

# Virtual environments
.venv/
venv/
env/
.env
ENV/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Project-local
todo/
todo.md
